page{
  height:100%;
  background: #f5f5f5;
  overflow: hidden;
}
.citylist-content{
  .list-group{
    .list-group-title{
      height: 60px;
      line-height: 60px;
      padding-left: 20px;
      font-size: 28px;
      //background: #ECF0F4;
      color: #3e3e3e;
    }
    .list-group-item{
      display: flex;
      display:-webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      height: 86px;
      line-height: 86px;
      padding-left: 29px;
      .avatar{
        width: 68px;
        height: 68px;
        border-radius: 50%;
      }
      .content{
       // margin-left: 29px;
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
        .name{
          color:#3e3e3e;
          font-size: 30px;
        }
        .parentRegion{
          padding-left: 79px;
          color: #adadad;
          font-size: 26px;
        }
      }

    }
    .positionAdress{
      display: flex;
      display:-webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      padding: 0 30px;
      height: 80px;
      font-size: 28px;
      color: #3E3E3E;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      /*padding-right: @base*80rem;*/
      .icon{
        vertical-align: middle;
        height: 100%;
        width: 47px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .locationIocn{
          width: 35px;
          height: 35px;
          display: inline-block;
          background-image: url(../../asset/img/gai_location.png);
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
    }

    .city-list-Item{
      background: #fff;
    }
  }
}

.list-shortcut{
  position: absolute;
  z-index: 30;
  right: 0;
  top: 19%;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  font-family: 'Helvetica';
  color: #3E3E3E;
  .item{
    padding: 10% 0;
    line-height: 1;
    color: #3E3E3E;
    font-size: 24px;
  }
}

.city-search{
  width: 94%;
  margin: 20px auto 20px auto;
  background: #fff;
  height: 70px;
  line-height: 70px;
  box-sizing: border-box;
  padding: 0 15px;
 /* position: relative;*/
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  .icon-search{
    font-size: 24px;
    width: 54px;
    height:100%;
    color:#949494;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-icon{
      width: 24px;
      height: 24px;
      background: url("../../asset/img/btn_search.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .icon-close{
    height:100%;
    position: absolute;
    right:0;
    width: 80px;
    text-align: center;
    display: inline-block;
    color:#CCCCCC;
  }
  input{
    height: 100%;
    border:none;
    outline: none;
    font-size: 26px;
    padding-left:4px;
    width: 90%;
  }
  .icon-clear{
    font-size: 24px;
    width: 54px;
    height:100%;
    color:#949494;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-icon-clear{
      width: 24px;
      height: 24px;
      background: url("../../asset/img/delete.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
