.title-content-topDown{
  width: 100%;
  .title-content-item{
    width:100%;
    .title{
      font-size: 28px;
      color: #38A8F6;
    }
    .height-width-auto{
      font-size: 26px;
      color: #333;
    }
  }
}
